<div class="main">
    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
        <div class="card">
            <div class="contentAlign">
                <h2>Best Paper Award</h2>
                <p class="internshipPhara">
                    Recieved "Best Paper Award" for our final year project paper in International E-conference on “Advances in Information Technology and Research”
                    ICAITR-2021 conference. 
                    <br><br>
                </p>
            </div>
            <div class="ImageSize" style="background-image:url(../../assets/image/bestPaperAward.jpg)">
                <div class="shadow_swhow_mini">
                    <div class="deroul_titre">
                        <a href="https://drive.google.com/file/d/1LKhHi6wcuvUYIW_z7_Iw8ASaCkS2hQNL/view?usp=sharing" target="_blank" style="text-decoration: none; color: white;">VIEW CERTIFICATE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
        <div class="card">
            <div class="contentAlign">
                <h2>Poster Presentation</h2>
                <p class="internshipPhara">
                    Secured 1st position in National Level Technical Poster Presentation Contest “TECHNOVATION 
                    2020”. Here we presented our IOT project Poster.
                </p>
            </div>
            <div class="ImageSize" style="background-image:url(../../assets/image/Technovation.jpg)">
                <div class="shadow_swhow_mini">
                    <div class="deroul_titre">
                        <a href="https://drive.google.com/file/d/1r3E3OobVRxugQk3Le_t2lCaGLAcSZpXm/view?usp=sharing" target="_blank" style="text-decoration: none; color: white;">VIEW CERTIFICATE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
        <div class="card">
            <div class="contentAlign">
                <h2>Projecxion 2.0</h2>
                <p class="internshipPhara">
                    1st Runnerup in “Projecxion 2.0”
                    which is an Intra department competition conducted by our college on the IOT domain where we presented our IOT Bot.
                </p>
            </div>
            <div class="ImageSize" style="background-image:url(../../assets/image/Projexions\ 2.0.jpg)">
                <div class="shadow_swhow_mini">
                    <div class="deroul_titre">
                        <a href="https://drive.google.com/file/d/1AE5pxvEC8HuK8fRg8uv8FD0Uich-S5oH/view?usp=sharing" target="_blank" style="text-decoration: none; color: white;">VIEW CERTIFICATE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
        <div class="card">
            <div class="contentAlign">
                <h2>Avishkar 2019-20</h2>
                <p class="internshipPhara">
                    Our Iot Project “Cleansweep – The cleaning bot” got selected in Districts zone and for the final 
                    round of Avishkar Research Convention 2019-20.
                </p>
            </div>
            <div class="ImageSize" style="background-image:url(../../assets/image/Avishkar.jpg)">
                <div class="shadow_swhow_mini">
                    <div class="deroul_titre">
                        <a href="https://drive.google.com/file/d/1ABQ3GgHzlVSLXlKW5MfzfCXa2XWTbLMI/view?usp=sharing" target="_blank" style="text-decoration: none; color: white;">VIEW CERTIFICATE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
        <div class="card">
            <div class="contentAlign">
                <h2>TML 2019</h2>
                <p class="internshipPhara">
                    Organised an Intra college sports event ‘Lacrosse’ during Tatva Moksh Lakshya’19 annual fest.
                    Secured 2nd position in Intra college sports event ‘Lacrosse’.
                </p>
            </div>
            <div class="ImageSize" style="background-image:url(../../assets/image/Lacrosse.jpg)">
                <div class="shadow_swhow_mini">
                    <div class="deroul_titre">
                        <a href="https://drive.google.com/file/d/1AKHPrfdzn7Yk0QgfwKP-LC0dF5J7r93L/view?usp=sharing" target="_blank" style="text-decoration: none; color: white;">VIEW CERTIFICATE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>