<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&family=Roboto&display=swap" rel="stylesheet">

<style>
  .Portfolio {
    background-color: #FFFDD0;
  }
</style>

<!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script  defer src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
<script defer>
  var t1 = new TimelineMax({onUpdate: updatePercentage});
  const contorller = new ScrollMagic.Contorller();

  t1.from("card2", .5, {x:200, opacity: 0});

  const scene = new ScrollMagic.Scene({
    triggerElement: ".block-card",
    triggerHook: "onLeave",
    duration: "100%"
  })
    .setPin(".block-card")
    .setTween(t1)
      .addTo(contorller);

  function updatePercentage(){
    t1.progress();
    console.log(t1.progress());
  }
</script> -->

<!-- Toolbar -->
<div class="toolbar highlight" role="banner">
  <h2><span style="margin-left: 10mm;" routerLink='/'>{{name}}</span></h2>
    <div class="spacer"></div>
  <h2><span style="text-align: left; margin: 15px;" routerLink='/About'>About</span></h2>
  <h2><span style="text-align: left; margin: 15px;"><a href="#portfolio" style="text-decoration: none; color: white;">Portfolio</a></span></h2>
  <h2><span style="text-align: left; margin: 15px 35px 15px 15px;" routerLink='/Contact'>Contact</span></h2>
</div>

<div class="content">
  <img class = "ImageSize" src="https://th.bing.com/th/id/OIP.SX2wDhmZ0jdu5usGU4sjEAHaH0?pid=ImgDet&rs=1" alt="Profile Image">
  <h2 style="font-size: 65px;">{{name}}</h2>
  <h4 style="font-size: 30px;">B.E. Graduate Student & Developer</h4>
</div>

<router-outlet></router-outlet>

<div class="Portfolio" id="portfolio" >
  <div style="background-color: #1B1B1B; border: 3px solid white;">
    <p class="font1">Portfolio</p>
  </div>
  <p class="font" style="text-align: center; color: black;">My Top Projects</p>
  <div class="card-container">
    <div class="card">
      <title>IOT</title>
      <div>
        <img src="/assets/image/iot1.png" style="height: 70px; width: 100px;">
      </div>
      <h2 class="card-font">CleanSweep</h2>
      <div>
        <p class="card-font" style="margin: 0px; font-size: 15px;">
          Cleansweep is a IOT based cleaning bot.The movement of the bot is controlled by the user with
          the help of UI (Blynk App) on a smartphone through WiFi Module.
        </p>
        <p class="card-font" style="margin: 0px; font-size: 15px;">
          It also consist of ultrasonic sensor for obstacle detection and IR sensor for Depth detection.
        </p>
      </div>
      <a href="https://diogotc.com/" target="_blank" style="text-decoration: none; color: white; margin-top: 10px; font-weight: bolder; font-size: 20px;">IOT Video</a>
    </div>

    <div class="card" style="background-color: #E91425;">
      <title>GAN</title>
      <div>
        <img src="/assets/image/Brain1.png" style="height: 70px; width: 90px;">
      </div>
      <h2 class="card-font">StyleGAN2 ADA</h2>
      <div>
        <p class="card-font" style="margin: 0px; font-size: 15px;">
          StyleGAN2 ADA, a generative model that lets you train a neural network to produce high-resolution
          images from a collection of training images.
          StyleGAN2 which has been utilized for automated generation of new apparels, with
          a massive fashion dataset. Performance of the model is evaluated using FID score.
        </p>
      </div>
      <a href="https://diogotc.com/" target="_blank" style="text-decoration: none; color: white; margin-top: 10px; font-weight: bolder; font-size: 20px;">StyleGAN2 ADA Paper</a>
    </div>
  </div>
  
  <h2 style="display: flex; align-content: center;justify-content: center; margin: 16px 8px 16px 8px;">Internships</h2>
  <div class="main">
    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
      <div class="card2">
        <p class="font" >Hiii</p>
      </div>
    </div>
    
    <p class="font" >Hiii</p>
    <p class="font" >Hiii</p>
    <p class="font" >Hiii</p>
    <p class="font" >Hiii</p>
    <p class="font" >Hiii</p>
    <p class="font" >Hiii</p>
  </div>
</div>

<div id="footer">
  <p>© 2017-2021 Rahul Ganesh  </p>
</div>
