<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&family=Roboto&display=swap" rel="stylesheet">

<style>
  .Portfolio {
    background-color: #FFFDD0;
  }
</style>

<!-- Toolbar -->
<div class="toolbar highlight" role="banner">
  <h2><span style="margin-left: 10mm;" class="HoverGlow" routerLink='/'>{{name}}</span></h2>
    <div class="spacer"></div>
  <h2><a href="#Abt" style="text-decoration: none; color: white;"><span class="HoverGlow" style="text-align: left; margin: 15px;">About</span></a></h2>
  <h2><a href="#portfolio" style="text-decoration: none; color: white;"><span class="HoverGlow" style="text-align: left; margin: 15px;">Portfolio</span></a></h2>
  <h2><a href="#Contact" style="text-decoration: none; color: white;"><span class="HoverGlow" style="text-align: left; margin: 15px 35px 15px 15px;">Contact</span></a></h2>
</div>

<div class="content">
  <img class = "ImageSize" src="https://th.bing.com/th/id/OIP.SX2wDhmZ0jdu5usGU4sjEAHaH0?pid=ImgDet&rs=1" alt="Profile Image">
  <h2 style="font-size: 65px;">{{name}}</h2>
  <h4 style="font-size: 30px;">B.E. Graduate Student & Developer</h4>
</div>

<div >
  <app-about id="Abt"></app-about>
</div>

<div class="Portfolio" id="portfolio">
  <div style="background-color: #1B1B1B;">
    <p class="font1">Portfolio</p>
  </div>
  <p class="font" style="text-align: center; color: black;">My Top Projects</p>
  <div class="card-container">
    <div class="card">
      <title>IOT</title>
      <div>
        <img src="/assets/image/iot1.png" style="height: 70px; width: 100px;">
      </div>
      <h2 class="card-font">CleanSweep</h2>
      <div>
        <p class="card-font" style="margin: 0px; font-size: 15px;">
          Cleansweep is a IOT based cleaning bot.The movement of the bot is controlled by the user with
          the help of UI (Blynk App) on a smartphone through WiFi Module.
        </p>
        <p class="card-font" style="margin: 0px; font-size: 15px;">
          It also consist of ultrasonic sensor for obstacle detection and IR sensor for Depth detection.
        </p>
      </div>
      <a href="https://drive.google.com/file/d/1W1ymQx1lWbXWgY6gre-XHmSpddYt-67_/view?usp=sharing" target="_blank" style="text-decoration: none; color: white; margin-top: 10px; font-weight: bolder; font-size: 20px;">IOT Video</a>
    </div>

    <div class="card" style="background-color: #E91425;">
      <title>GAN</title>
      <div>
        <img src="/assets/image/Brain1.png" style="height: 70px; width: 90px;">
      </div>
      <h2 class="card-font">StyleGAN2 ADA</h2>
      <div>
        <p class="card-font" style="margin: 0px; font-size: 15px;">
          StyleGAN2 ADA, a generative model that lets you train a neural network to produce high-resolution
          images from a collection of training images.
          StyleGAN2 which has been utilized for automated generation of new apparels, with
          a massive fashion dataset. Performance of the model is evaluated using FID score.
        </p>
      </div>
      <a href="https://diogotc.com/" target="_blank" style="text-decoration: none; color: white; margin-top: 10px; font-weight: bolder; font-size: 20px;">StyleGAN2 ADA Paper</a>
    </div>
  </div>
  
  <div style="display: flex; flex-direction: row; align-content: center; justify-content: center; margin: 35px 8px 28px 8px;">
    <div style="margin: 0px 40px;">
      <h2 class="IPA highlight" routerLink='/Intern'>Internships</h2>
    </div>
    <div style="margin: 0px 40px;">
      <h2 class="IPA highlight" routerLink='/Proj'>Projects</h2>
    </div>
    <div style="margin: 0px 40px;">
      <h2 class="IPA highlight" routerLink='/Achive'>Achivements</h2>
    </div> 
  </div>

  <router-outlet></router-outlet>
  
</div>

<app-contact id="Contact"></app-contact>

<!-- Footer -->
<div id="footer">
  <p>© 2017-2021 Rahul Ganesh  </p>
</div>
