<div class="main">
    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
        <div class="card">
            <div class="contentAlign">
                <h2>Wartsila India Pvt Limited</h2>
                <p class="internshipPhara">
                    I undergone Summer Internship Training for two weeks at Wartsila India Pvt Limited.
                    <br><br>
                    During his training, we supported the projects on "Computer Networks in Digital
                    Communication".
                </p>
            </div>
            <div class="ImageSize" style="background-image:url(../../assets/image/wartsilaInternship.jpg)">
                <div class="shadow_swhow_mini">
                    <div class="deroul_titre">
                        <a href="https://drive.google.com/file/d/1a_xcZ-PqGYOxbN_xGxcJ06vqyNWMVVDf/view?usp=sharing" target="_blank" style="text-decoration: none; color: white;">VIEW Certificate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
        <div class="card">
            <div class="contentAlign">
                <h2>Studyleague IT Solutions LLP</h2>
                <p class="internshipPhara">
                    I completed my Internship and Training in Ionic App development at Studyleague IT Solutions.
                    <br><br>
                    During his training, we have learned and created Hybrid apps. Also worked on live project where we have developed
                    Kisan Cart application for the customer.
                </p>
            </div>
            <div class="ImageSize" style="background-image:url(../../assets/image/SLITinternship.jpg)">
                <div class="shadow_swhow_mini">
                    <div class="deroul_titre">
                        <a href="https://drive.google.com/file/d/1tXIV1V4z3dAiUVAnjsSpZ9vUnwSa7ndg/view?usp=sharing" target="_blank" style="text-decoration: none; color: white;">VIEW Certificate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>