<div class="main">
    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
        <div class="card">
            <div class="contentAlign">
                <h2>Cleansweep - The cleaning BOT</h2>
                <p class="internshipPhara">
                    Cleansweep a cleaning bot that is designed for effective cleaning, with an idea to minimize human efforts needed for everyday
                    cleaning.
                    <br><br>
                    The bot is controlled by the user with the help of a smartphone which is connected
                    using WiFi module and it also contains an ultrasonic sensor for obstacle detection.
                    For demo click on the image aside.
                </p>
            </div>
            <div class="ImageSize" style="background-image:url(../../assets/image/wartsilaInternship.jpg)">
                <div class="shadow_swhow_mini">
                    <div class="deroul_titre">
                        <a href="https://drive.google.com/file/d/1a_xcZ-PqGYOxbN_xGxcJ06vqyNWMVVDf/view?usp=sharing" target="_blank" style="text-decoration: none; color: white;">VIEW Certificate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>