<div class="main">
    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
        <div class="card">
            <div class="contentAlign">
                <h2>Cleansweep - The cleaning BOT</h2>
                <p class="internshipPhara">
                    Cleansweep a cleaning bot that is designed for effective cleaning, with an idea to minimize human efforts needed for everyday
                    cleaning.
                    <br><br>
                    The bot is controlled by the user with the help of a smartphone which is connected
                    using WiFi module and it also contains an ultrasonic sensor for obstacle detection.
                    <b>For demo click on the image aside</b> .
                </p>
            </div>
            <div class="ImageSize" style="background-image:url(../../assets/image/Bot.jpeg)">
                <div class="shadow_swhow_mini">
                    <div class="deroul_titre">
                        <a href="https://drive.google.com/file/d/1W1ymQx1lWbXWgY6gre-XHmSpddYt-67_/view?usp=sharing" target="_blank" style="text-decoration: none; color: white;">VIEW DEMO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
        <div class="card">
            <div class="contentAlign">
                <h2>Handmade With Love</h2>
                <p class="internshipPhara">
                    We have developed  a Website and an Android application for E-commerce bussiness using HTML,CSS,PHP and JAVA respectively.
                    <br><br>
                    The purpose of this E-commerce site is to sell Handmade products to the endusers, provide a userfriendly interface
                    with Razorpay payment Gateway.
                </p>
            </div>
            <div class="ImageSize" style="background-image:url(../../assets/image/logo.png)">
                <div class="shadow_swhow_mini">
                    <div class="deroul_titre">
                        <a href="https://drive.google.com/file/d/1W1ymQx1lWbXWgY6gre-XHmSpddYt-67_/view?usp=sharing" target="_blank" style="text-decoration: none; color: white;">VIEW DEMO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-card" style="display: flex; align-content: center; justify-content: center;">
        <div class="card">
            <div class="contentAlign">
                <h2>Kisan Cart</h2>
                <p class="internshipPhara">
                    We have developed a hybrid application for the client using Ionic 3.
                    The Application is used for selling Gifts, Gift Cards, Vouchers, Etc.
                </p>
            </div>
            <div class="ImageSize" style="background-image:url(../../assets/image/Bot.jpeg)">
                <div class="shadow_swhow_mini">
                    <div class="deroul_titre">
                        <a href="https://drive.google.com/file/d/1W1ymQx1lWbXWgY6gre-XHmSpddYt-67_/view?usp=sharing" target="_blank" style="text-decoration: none; color: white;">VIEW DEMO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>